#treinopredefinido {
    width: 20em;
    display: inline-block;
    justify-content: center;
    list-style-type: none;
    margin-left: 5%;
}

#treinopredefinido:hover{
    top:-5px;box-shadow:0 2px 2px #666
}
